<div class="contact-wrapper  container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 header-img">
      <h1>Say hello!</h1>
      <div class="box">
        <span class="rod"></span>
      </div>
      <div>
        <h3>renee at padgham dot com</h3>
      </div>
    </div>
  </div>
  <div class="contact-icons">
    <ul>
      <li>
        <a href="https://www.instagram.com/reneepadgham/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://medium.com/@reneepadgham" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
      </li>
  <li>
    <a href="https://www.linkedin.com/in/reneepadgham" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
  </li>
      <li>
        <a href="https://www.facebook.com/reneepadgham" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://twitter.com/reneepadgham" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>
    </ul>
    </div>
    <div class="resume">
      <h3>P.S. You can hire me!</h3>
      <a href="http://reneepadgham.com/reneepadgham-resume.pdf" class="resume-link" target="_blank">Resume</a>
    </div>
</div>
