<span class="contact-icons">
    <a href="mailto:renee@padgham.com"><i class="fa fa-envelope-square"></i></a>
    <a href="https://www.linkedin.com/in/reneepadgham" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.instagram.com/reneepadgham/" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://medium.com/@reneepadgham" target="_blank"><i class="fa fa-medium"></i></a>
    <a href="https://www.facebook.com/reneepadgham" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/reneepadgham" target="_blank"><i class="fa fa-twitter"></i></a>
  </span>
