<div class="contact-wrapper  container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 header-img">
      <h1>Say hello!</h1>
      <div class="box">
        <span class="rod"></span>
      </div>
      <div>
        <h3>Renée Padgham</h3>
        <h4>renee at padgham dot com</h4>
      </div>
    </div>
  </div>
  <div class="contact-icons">
    <ul>
      <li>
        <a href="https://www.instagram.com/reneepadgham/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://medium.com/@reneepadgham" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
      </li>
  <li>
    <a href="https://www.angel.co/reneepadgham" target="_blank"><i class="fa fa-angellist" aria-hidden="true"></i></a>
  </li>
      <li>
        <a href="https://www.facebook.com/reneepadgham" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://twitter.com/reneepadgham" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>

    </ul>
    </div>
</div>
