<div class="desk-wrapper wrapper container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 header-img">
      <img src="img/desk.png" />
    </div>
    <div class="intro-text col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
      <h1>This is my desk.</h1>
      <p>There are many like it, but this one is mine. It’s pretty minimal, but it gets the job done.
      </p>
    </div>
  </div>
  <div class="col-md-12 design-process">
    <div class="row">
      <div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1 item">
        <div class="header">
          <img src="img/cap.png" />
          <h2>Empathize</h2>
        </div>
        <p>
          I start work by putting on my empathy hat. I like to envision a day in the life of my user and feel their pain points. I create personas that allow me to understand the different types of experiences that might bring a user to my product.
        </p>
      </div>
      <div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1 item">
        <div class="header">
          <img src="img/research.png" />
          <h2>Research</h2>
        </div>
        <p>
          I use resources such as customer support and user interviews to build out my understanding of the user and the problem. If I have access to quantitative data, I also invite it to the party.
        </p>
      </div>
      <div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1 item">
        <div class="header">
          <img src="img/brainstorm.png" />
          <h2>Sketch</h2>
        </div>
        <p>
          I then invite my oldest friends, Pencil and Paper, over. We have a tea party and get the basics together in a flow that can be shown to users and internal teams for feedback. I often invite prototyping tools or code to join.
        </p>

      </div>

      <div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1 item">
        <div class="header">
          <img src="img/polish.png" />
          <h2>Polish</h2>
        </div>
        <p>
          Before we go out, I dress up my work with my new friend Sketch - but sometimes reach out to my old friend Adobe. I also like to bring my designs to life using html, css, and javascript.
        </p>

      </div>
      <div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1 item">
        <div class="header">
          <img src="img/test.png" />
          <h2>Test</h2>
        </div>
        <p>
          I have good ideas, but I don’t always know which is best. I like to dress up my work in a few different options and get feedback. This process, called A/B testing, helps me figure out which version is best.
        </p>
      </div>
      <div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1 item">
        <div class="header">
          <img src="img/ship.png" />
          <h2>Ship</h2>
        </div>
        <p>
          With that information, I create a finished version. Then, I work with development to bring it to life and ship it off.
        </p>
      </div>
    </div>
  </div>
</div>
