<div class="desk-wrapper wrapper container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="header-img">
        <img src="/img/desk.png" />
      </div>
      <div class="intro-text row">
        <h1>This is my desk.</h1>
        <p>There are many like it<span ng-if="user.name">, {{user.name | capitalize}}</span>, but this one is mine. It’s pretty minimal, but it gets the job done.
        </p>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="design-process">
        <img src="img/hat.png" />
        <h3>Empathize</h3>
        <p>
          When I come to my desk for a new project, I start by putting on my empathy hat. To me, this is one of the most valuable parts of my design process. I like to envision a day in the life of my user and feel their pain points. I create personas that allow
          me to understand the different types of experiences that might bring a user to my product. This process allows me to understand my users and create the best possible experiences for them.
        </p>
        <br />
        <br />
        <img src="img/postit.png" />
        <h3>Research</h3>
        <p>
          To solidify my understanding, I use resources such as customer support or sales teams and user interviews to help build out my understanding of the user. If the client has been tracking any quantitative data, I also invite it to the party. This gets my
          bachelor’s in Quantitative Methods in Economics and Mathematics really excited.
        </p>
        </p>
        <br />
        <br />
        <img src="img/tea.png" />
        <h3>Brainstorm/Prototype</h3>
        <p>
          After I have a concrete understanding of the problem and the user - I invite my oldest friends, Pencil and Paper, over. We have a tea party (Earl Grey ftw), and after a few rounds, we get the basics together in a flow that can be shown to users and internal
          teams for feedback. Sometimes I never leave Paper, but I like growing the party so I often invite Invision, one of Invision’s close relatives, or HTML/CSS into the mix depending on the vibe.
        </p>
        <br />
        <br />
        <img src="img/tools.png" />
        <h3>Polish</h3>
        <p>
          Once I have the core functioning, it’s time to prepare it for presentation to the world. I normally dress it up with my new friend Sketch, but sometimes I reach out to my old friends Illustrator and Photoshop. I also like to bring my design to life using
          html, css, and javascript. If I don’t do that myself, I like being able to work with the development team making it happen.
        </p>
        <br />
        <br />
        <img src="img/laptop.png" />
        <h3>Test</h3>
        <p>
          During this time, I like to dress it up a few different ways and get user feedback. This process, called A/B testing, helps me figure out which version solves my user’s problems the best.
        </p>
        <br />
        <br />
        <img src="img/rocket.png" />
        <h3>Ship</h3>
        <p>
          With that information, I polish it up and help my team ship it off.
        </p>
      </div>
    </div>
  </div>
</div>
