<div class="intro-text row" id="home-content">
  <h1>Hi, I'm Renee.</h1>
  <div class="divider"></div>
  <p>
  I'm a San Francisco based product designer. For the past year and a half, I've been working at <a href="https://gigster.com" target="_blank">Gigster</a> designing internal tools and bringing design to their world class development service. I was the first, but now we have an amazing community of 100+ designers! Before that, I worked at <a href="http://www.draper.vc/" target="_blank">Draper Associates</a> on special projects like an internal portfolio management tool.
<br /><br />
When I'm not partying with pixels, I challenge my ability to empathize by placing <a href="https://medium.com/ways-to-feel-human/i-m-traveling-the-world-collecting-feelings-bc97a363b523#.7u7x1d55k" target="_blank">poems about other people's feelings</a> on stickers around the world - I am the jet-lag master. I also write about other things like <a href="https://medium.com/human-x-creator" target="_blank">artists</a> and <a href="https://medium.com/swlh/we-should-all-be-weird-as-fuck-c751cf31d765#.ynsvvipmk" target="_blank">being weird</a>, and I edit a <a href="https://medium.com/ladies-storm-hackathons" target="_blank">women in tech publication</a>. I teach design and development at hackathons around the US through <a href="http://hacker.fund" target="_blank">Hacker Fund</a>. Sometimes, I even remember to let my friends and family know I'm alive by posting pictures on <a href="https://www.instagram.com/reneepadgham/" target="_blank">Instagram</a> (not often enough).
<br /><br />
    I'm currently looking for my next adventure and opportunity to learn - if you want the details, check out my resume  <a href="http://reneepadgham.com/reneepadgham-resume.pdf" target="_blank">here</a> or
    say hello, <a href="mailto:renee@padgham.com?Subject=Hello%20there!" target="_top">renee@padgham.com</a>! :)
  </p>
  <div class="contact-icons">
    <ul>
      <li>
        <a href="https://medium.com/@reneepadgham" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/reneepadgham" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://www.facebook.com/reneepadgham" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://twitter.com/reneepadgham" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://dribbble.com/reneepadgham" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/reneepadgham/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</div>
