<nav class="navbar navbar-default navbar-fixed-top ng-cloak navbar-scroll" id="nav spy-nav" ng-hide="$state.includes('workDetail')">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="" ng-click="gotoWork()" data-toggle="collapse" class="active">Home</a></li>
        <li><a href="" ng-click="gotoDesk()" data-toggle="collapse">Desk</a></li>
        <li><a href="" ng-click="gotoRoom()" data-toggle="collapse">Room</a></li>
        <li><a href="" ng-click="gotoContact()" data-toggle="collapse">Mail</a></li>
      </ul>
    </div>
  </div>
</nav>

<div data-spy="scroll" data-target="#spy-nav" class="body-main">
  <div ui-view="work" class="work" id="work"></div>
  <div ui-view="desk" class="desk" id="desk"></div>
  <div ui-view="room" class="room" id="room"></div>
  <div ui-view="contact" class="contact" id="contact"></div>
</div>
