<div class="tools-wrapper wrapper">
  <div class="row">
    <h1>Tools</h1>
    <div class="divider"></div>
    <h3><i>"It's not the tools that you have faith in - tools are just tools."</i><br />
    Still, these get me through the day to day.</h3>
    <div class="tools-list">
      <div class="col-sm-6 col-md-4"><div class="item">
        <h2><img src="img/design.png"> Programs</h2>
        <div class="divider thin"></div>
        <p> Illustrator, Sketch, InDesign,
  Photoshop, Xcode, Framer, Atomic,
  Flinto, Craft</p>
      </div></div>
      <div class="col-sm-6 col-md-4"><div class="item">
        <h2><img src="img/code.png"> Code</h2>
        <div class="divider thin"></div>
        <p>HTML - JADE, CSS - SCSS
  - Less, JavaScript, jQuery, Git, PHP,
  Objective-C, Swift, R, WordPress </p>
      </div></div>
      <div class="col-sm-6 col-md-4"><div class="item">
        <h2><img src="img/specialties.png"> Specialties</h2>
        <div class="divider thin"></div>
        <p> Prototyping, User Research,
  User Experience & Interface Design,
  Web Design, Mobile Design</p>
      </div></div>
    </div>
  </div>
</div>
