<div class="landing-wrapper container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">


<div class="door-wrapper">
  <div class="door" id="door">
    <img src="img/door.png" />
  </div>
</div>
  <div class="landing-input">
    <h1 class="landing-text">
Oh, hello there! </br> It's a little hard to see from in here, who's out there?
  </h1>
    <input type="text" ng-model="user.name" class="name-input" id="name-input" name="name-input" placeholder="Your Name" onkeydown = "if (event.keyCode == 13)
                        document.getElementById('sbmt').click()" autofocus><a class="name-sbmt" id="sbmt" ng-click="btnClicked(); delayTransition()" >Hi!</a>
  </div>
  </div>
    </div>
</div>
