<div class="work-wrapper wrapper col-sm-10 col-sm-offset-1">
<h1>Work</h1>
<div class="divider"></div>
  <div class="row">
    <div class="proj-brief-wrapper">
      
      <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 proj-wrapper">
        <a href="#/work/gigster">
          <img src="img/laptopmock.jpg" />
        </a>
        <div class="brief-details">
            <h2>Gigster</h2>
            <p>I led design, prototyping, and front-end implementation for the user-facing dashboard and project page.</p>
            <a href="#/work/gigster">
              <button class="view-proj">Case Study</button>
            </a>
          </div>
      </div>
      
      <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 proj-wrapper">
        <a href="#/work/riskmaster">
          <img src="img/laptopmock.jpg" />
        </a>
        <div class="brief-details">
            <h2>Riskmaster</h2>
            <p>I led design and development (objective-c) on an app that organizes and manages information on portfolio investments.</p>
            <a href="#/work/riskmaster">
              <button class="view-proj">Case Study</button>
            </a>
          </div>
      </div>
      
      <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 proj-wrapper">
        <a href="#/work/coinmotion">
          <img src="img/laptopmock.jpg" />
        </a>
        <div class="brief-details">
            <h2>Coinmotion</h2>
            <p>I led design and front-end development (html, css, javascript) of the primary wallet/dashboard screen.</p>
            <a href="#/work/coinmotion">
              <button class="view-proj">Overview</button>
            </a>
          </div>
      </div>
      
      <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 proj-wrapper">
        <a href="#/work/gamesmith">
          <img src="img/laptopmock.jpg" />
        </a>
        <div class="brief-details">
            <h2>Gamesmith</h2>
            <p>I led product design on a social network for the video game industry.</p>
            <a href="#/work/gamesmith">
              <button class="view-proj">Overview</button>
            </a>
          </div>
      </div>
      
    </div>

    <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 static-proj-wrapper">
      <img src="img/greylock-frame.png" />
      <div class="brief-details">
        <h2>Greylock Partners</h2>
        <p>Coming soon!</p>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 static-proj-wrapper">
      <img src="img/fidelity-frame.png" class="second" />
      <div class="brief-details">
        <h2>Fidelity</h2>
        <p>Coming soon!</p>
      </div>
    </div>
  </div>
</div>
