<div class="work-wrapper wrapper container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 header-img">
        <img src="/img/living-room.png" />
      <div class="intro-text row">
        <h1>Welcome to my home<span ng-if='user.name'>, {{user.name | capitalize}}</span>!</h1>
        <p>Well, at least, where I live on the internet...
          <br />In the real world, I’m a product designer and front end developer in San Francisco. I’d love to <a ui-sref="contact">meet for coffee</a>, but in the meantime my virtual house can tell you a bit about <a ui-sref="room">me</a> and <a ui-sref="desk">my work style</a>.
          The tour starts in the living room where I hang my latest work!</p>
      </div>
    </div>
  </div>

  <div class="row" ng-controller="workCtrl">

    <div class="proj-brief-wrapper" ng-repeat="work in works">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 proj-wrapper">
        <div class="col-sm-6 col-sm-offset-1">
          <img ng-src="{{work.img}}" />
        </div>
        <div class="col-sm-5 brief-details">
            <h3>{{work.title}}</h3>
            <h4>{{work.role}}</h4>
            <p>
              {{work.tagline}}
            </p>
            <a href="#/work/{{work.id}}">
              <button class="view-proj">{{work.type}}</button>
            </a>
        </div>
      </div>
  </div>
  </div>
  <div class="row coming-soon">
    <h3>Coming Soon...</h3>
    <div class="col-md-3 col-md-offset-3">
      <img src="/img/greylock-frame.png" />
    </div>
    <div class="col-md-3">
      <img src="/img/fidelity-frame.png" />
    </div>
  </div>
</div>
