<div class="work-wrapper wrapper row">
<h1>Work</h1>
<div class="divider"></div>
  <div class="row">
    <div class="proj-brief-wrapper">
      
      <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 proj-wrapper">
        <a href="#/work/gigster">
          <img src="img/gigsterhomealt.png" />
        </a>
        <div class="brief-details">
            <h2>Gigster</h2>
            <p>I led design, prototyping, and front-end implementation for the user-facing dashboard and project page.</p>
            <a class="view-proj" href="#/work/gigster">Case Study <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </div>
      </div>
      
      <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 proj-wrapper">
        <a href="#/work/riskmaster">
          <img src="img/riskmasterhomealt.png" />
        </a>
        <div class="brief-details">
            <h2>Riskmaster</h2>
            <p>I led design and development (objective-c) on an app that organizes and manages information on portfolio investments.</p>
            <a class="view-proj" href="#/work/riskmaster">Case Study <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </div>
      </div>
      
      <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 proj-wrapper">
        <a href="#/work/coinmotion">
          <img src="img/coinmotionhomealt.png" />
        </a>
        <div class="brief-details">
            <h2>Coinmotion</h2>
            <p>I led design and front-end development (html, css, javascript) of the primary wallet/dashboard screen.</p>
            <a class="view-proj" href="#/work/coinmotion">Overview <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </div>
      </div>
      
      <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 proj-wrapper">
        <a href="#/work/gamesmith">
          <img src="img/gamesmithhomealt.png" />
        </a>
        <div class="brief-details">
            <h2>Gamesmith</h2>
            <p>I led product design on a social network for the video game industry.</p>
            <a class="view-proj" href="#/work/gamesmith">Overview <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </div>
      </div>
      
    </div>

    <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 static-proj-wrapper">
      <img src="img/greylockhome.png" />
      <div class="brief-details">
        <h2>Greylock Partners</h2>
        <p>Coming soon!</p>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 static-proj-wrapper">
      <img src="img/fidelityhome.png" class="second" />
      <div class="brief-details">
        <h2>Fidelity</h2>
        <p>Coming soon!</p>
      </div>
    </div>
  </div>
</div>
