.contact {
  min-height: 100vh;
  .header-img {
    text-align: center;
  }
}

.contact-wrapper {
  padding: 125px 0 0 0;
}

.address {
  width: 25%;
  margin: auto;
  text-align: left;
}
.contact-icons {
  margin-top: 50px;
  text-align: center;
  ul {
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-color: #586994;
      border-radius: 50%;
      margin: 0 6px;
      a {
        font-size: 18px;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        i {
          margin-top: 11px;
        }
      }
    }
  }
}
.box {
  position: relative;
  background-color: #FF8E7C;
  width: 200px;
  height: 100px;
  display: inline-block;
  -webkit-border-radius: 10% / 100%;
  -moz-border-radius: 10% / 100%;
  border-radius: 10% / 100%;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius-bottomright: 0;
  -moz-background-clip: padding;
  border-bottom-right-radius: 0;
  background-clip: padding-box;
  margin-top: 100px;
  &:after {
    position: absolute;
    content: " ";
    height: 90px;
    width: 40px;
    background-color: #D8786A;
    right: 5px;
    top: 5px;
    -webkit-border-radius: 50% / 100%;
    -moz-border-radius: 50% / 100%;
    border-radius: 50% / 100%;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius-bottomright: 0;
    -moz-background-clip: padding;
    border-bottom-right-radius: 0;
    background-clip: padding-box;
  }
}
.rod {
  height: 80px;
  width: 5px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  display: inline-block;
  background-color: #FFEFD3;
  transform: rotate(-90deg);
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -o-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
  &:after {
    position: absolute;
    content: " ";
    right: 100%;
    top: 2%;
    width: 20px;
    height: 16px;
    background: #586994;
  }
  &:before {
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    content: " ";
    width: 15px;
    height: 15px;
    background: #FFEFD3;
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
  }
}

.transform {
  -webkit-animation: pop 2s linear;
  -moz-animation: pop 2s linear;
  -o-animation: pop 2s linear;
  animation: pop 2s linear;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  animation-fill-mode: forwards;
}
