.design-process {
  margin: 0 auto 100px;
  text-align: left;
  .header {
    margin-bottom: 20px;
    img {
      display: inline-block;
      height: 30px;
      vertical-align: top;
    }
    h2 {
      display: inline-block;
      margin: -1px 0 0 15px;
    }
  }
  .item {
    height: 300px;
  }
  .row {
    margin-top: 100px;
    margin-bottom: 50px;
  }
}
