.landing-wrapper {
  margin: 15% auto 5%;
  width: 40%;
  text-align: center;
}
.door-wrapper {
  width: 150px;
  margin: 0 auto 25px;
  img {
    max-width: 100%;
  }
}
.landing-text {
  display: inline-block;
  font-size: 26px;
  font-family: "proxima-nova", sans-serif;
  margin: 20px auto 30px;
}
.name-input {
  opacity: 0;
  margin: auto;
  width: 50%;
  @include prefix(animation-name, fadeIn, webkit moz ms o);
  @include prefix(animation-duration, 4s, webkit moz ms o);
  @include prefix(animation-fill-mode, forwards, webkit moz ms o);
  border-width: 0 0 2px 0;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  a {
    text-decoration: none;
    margin: 0 5px;
  }
}
.name-input:focus {
  border-width: 0 0 2px 0;
  border-color: #E84855;
  outline: none;
}
.name-sbmt {
  color: #fff;
  background-color: #E84855;
  margin-left: 5px;
  padding: 7px 10px;
  border-radius: 2px;
  @include prefix(animation-name, fadeIn, webkit moz ms o);
  @include prefix(animation-duration, 4s, webkit moz ms o);
  @include prefix(animation-fill-mode, forwards, webkit moz ms o);
}
.name-sbmt:hover {
  text-decoration: none;
  color: #fff;
}

div.animatedDoor {
  -webkit-transform: scale(0.05,1) skew(0deg,-5deg);
  -moz-transform: scale(0.05,1) skew(0deg,-5deg);
  -o-transform: scale(0.05,1) skew(0deg,-5deg);
  transform: scale(0.05, 1) skew(0deg, -5deg);
  transform-origin: left;
  transition: all 750ms ease-in-out;
  transition-delay: 1s;
}
.scale {
  @include prefix(animation-name, zoomIn, webkit moz ms o);
  @include prefix(animation-duration, 750ms, webkit moz ms o);
  @include prefix(animation-fill-mode, forwards, webkit moz ms o);
  @include prefix(animation-delay, 500ms, webkit moz ms o);
}
.fadeDoor {
  @include prefix(animation-name, fadeOut, webkit moz ms o);
  @include prefix(animation-duration, 750ms, webkit moz ms o);
  @include prefix(animation-fill-mode, forwards, webkit moz ms o);
  @include prefix(animation-delay, 1250ms, webkit moz ms o);
  @include prefix(animation-timing-function, ease-in-out, webkit moz ms o);
}
.fade {
  @include prefix(animation-name, fadeOut, webkit moz ms o);
  @include prefix(animation-duration, 1s, webkit moz ms o);
  @include prefix(animation-fill-mode, forwards, webkit moz ms o);
}
