#landing {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  position: fixed;
  top: 0;
  @include prefix(animation-name, fadeOut, webkit moz ms o);
  @include prefix(animation-duration, 2000ms, webkit moz ms o);
  @include prefix(animation-fill-mode, forwards, webkit moz ms o);
  @include prefix(animation-timing-function, ease-out, webkit moz ms o);
  @include prefix(animation-delay, 500ms, webkit moz ms o);
}

.landing-wrapper {
  margin-top: 30vh;
}

.door-wrapper {
  position: relative;
  width: 250px;
  height: 250px;
  margin: auto;
  text-align: center;
  background-color: #fff;
  @include prefix(animation-name, zoomIn, webkit moz ms o);
  @include prefix(animation-duration, 2500ms, webkit moz ms o);
  @include prefix(animation-fill-mode, forwards, webkit moz ms o);
  transform-origin: center;
  img {
    text-align: center;
    width: 80%;
    margin: 40% auto;
  }
}
.left-door {
  position: absolute;
  background: #FFE484;
  border: 5px double #4A4A4A;
  bottom: 0;
  right: 50%;
  left: 0;
  top: 0;
  @include prefix(animation-name, leftDoor, webkit moz ms o);
  @include prefix(animation-duration, 2000ms, webkit moz ms o);
  @include prefix(animation-fill-mode, forwards, webkit moz ms o);
  @include prefix(animation-timing-function, ease-out, webkit moz ms o);
  @include prefix(animation-delay, 500ms, webkit moz ms o);
  &:after {
    position: absolute;
    content: " ";
    width: 5px;
    height: 15px;
    top: 115px;
    right: 10px;
    background-color: #4A4A4A;
    border-radius: 5px;
  }
}
.right-door {
  position: absolute;
  background: #FFE484;
  bottom: 0;
  left: 50%;
  right: 0;
  top: 0;
  border: 5px double #4A4A4A;
  @include prefix(animation-name, rightDoor, webkit moz ms o);
  @include prefix(animation-duration, 2000ms, webkit moz ms o);
  @include prefix(animation-fill-mode, forwards, webkit moz ms o);
  @include prefix(animation-timing-function, ease-out, webkit moz ms o);
  @include prefix(animation-delay, 500ms, webkit moz ms o);
  &:after {
    position: absolute;
    content: " ";
    width: 5px;
    height: 15px;
    top: 115px;
    left: 10px;
    background-color: #4A4A4A;
    border-radius: 5px;
  }
}
.slide_in {
  overflow: hidden;
}
.show {
  visibility: visible;
  @include prefix(animation-name, fadeIn, webkit moz ms o);
  @include prefix(animation-duration, 500ms, webkit moz ms o);
  @include prefix(animation-fill-mode, forwards, webkit moz ms o);
  @include prefix(animation-delay, 750ms, webkit moz ms o);
}
.scale {
  @include prefix(animation-name, zoomIn, webkit moz ms o);
  @include prefix(animation-duration, 750ms, webkit moz ms o);
  @include prefix(animation-fill-mode, forwards, webkit moz ms o);
  @include prefix(animation-delay, 500ms, webkit moz ms o);
  transform-origin: top;
}
.fadeInput {
  @include prefix(animation-name, fadeOut, webkit moz ms o);
  @include prefix(animation-duration, 1s, webkit moz ms o);
  @include prefix(animation-fill-mode, forwards, webkit moz ms o);
}
.fadeOut {
  @include prefix(animation-name, fadeOut, webkit moz ms o);
  @include prefix(animation-duration, 1s, webkit moz ms o);
  @include prefix(animation-fill-mode, forwards, webkit moz ms o);
  @include prefix(animation-delay, 2000ms, webkit moz ms o);
}
