.room {
  background-color: #F45B69;
}

.room-wrapper {
  text-align: center;
  h1, p {
    color: #0F1A20;
  }
}
.profile-wrap {
  margin-top: 25px;
  margin-bottom: 100px;
  .polaroid {
    margin-top: 50px;
    img {
      width: 300px;
    }
  }
  .bio {
    margin-top: 25px;
    text-align: center;
    img {
      display: block;
      margin: 50px auto 25px;
      height: 150px;
    }
    a {
      color: #FFFD82;
    }
    b {
      color: #EBEBEB;
    }
  }
}
