.room-wrapper {
  text-align: center;
}


.profile-wrap {
  margin-top: 25px;
  margin-bottom: 100px;

  .polaroid {
  margin-top: 50px;
  img {
      width: 300px;
  }
  }

  .bio {
    margin-top: 25px;
  }
}
