.work.wrapper {
  @include prefix(animation-name, fadeInTheMusical, webkit moz ms o);
  @include prefix(animation-duration, 1.2s, webkit moz ms o);
  @include prefix(animation-timing-function, ease-out, webkit moz ms o);
}

.work-wrapper {
  overflow-x: visible !important;
}
.proj-brief-wrapper {
      margin-top: 75px;
}

.proj-wrapper, .static-proj-wrapper {
  margin-bottom: 75px;
  text-align: center;
  img {
    width: 100%;
  }
  h3 {
    margin: 0;
  }
  .brief-details {
    text-align: left;
    width: 90%;
  }
}
.view-proj {
  background: #fff;
  border: 3px solid #36DB99;
  color: #36DB99;
  padding: 12px 25px 10px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 15px;
  letter-spacing: 1px;
  i {
    margin-left: 10px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .proj-wrapper {
    text-align: left;
    img {
    width: 100%;
  }
  .brief-details {
    width: 100%;
    text-align: left;
  }
}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .proj-wrapper {
    text-align: left;
    img {
    width: 100%;
  }
  .brief-details {
    width: 100%;
    text-align: left;
  }
}
}
