.work.wrapper {
  transform-origin: 50% 20%;
  background: #fff;
}
.detail-brief-wrapper {
  text-align: center;
  margin-top: 50px;
  .detail-brief {
    .detail-brief-img {
      margin-top: 40px;
      margin-bottom: 40px;
      img {
        width: 100%;
      }
    }
  }
}
.detail-nav {
  margin: 50px 0;
  ul {
    list-style: none;
    text-align: center;
    padding: 0;
    li:last-child {
      border-right: none;
    }
    li {
      display: inline-block;
      border-right: 1px solid #eee;
      padding: 0 50px;
      img {
        height: 25px;
        display: block;
        margin: 10px auto;
        opacity: 0.7;
      }
      h4 {
        color: #817F75;
        opacity: 0.7;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 14px;
        margin-top: 15px;
        letter-spacing: 0.5px;
      }
      a:hover {
        text-decoration: none;
        img,
        h4 {
          opacity: 1;
        }
      }
    }
  }
}
.detail-body {
  margin: 75px auto 0;
  div {
    padding: 40px 0 0;
    h2 {
      color: #48DBB9;
      font-weight: 400;
      margin-bottom: 30px;
    }
    img {
      padding: 0;
      box-shadow: 0 0 10px #D4D4D4;
      text-align: center;
      display: block;
      margin-top: 50px;
      margin-bottom: 50px;
      max-width: 100%;
    }
    p {
      padding-left: 0;
      margin-top: -20px;
    }
    b {
      font-size: 1.1em;
    }
  }
  div:first-child {
    padding-top: 0;
  }
  div:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
.work-nav {
  .navbar-nav {
    width: 100%;
    li a {
      text-transform: uppercase;
      color: #424C55 !important;
      letter-spacing: 1px;
      text-align: left;
      font-weight: 500 !important;
      width: 100%;
    }
    li img {
      height: 20px;
    }
    li a:hover {
      text-decoration: none;
      cursor: pointer;
    }
    li:nth-child(2) a {
      text-align: center;
      margin: auto;
    }
    li:last-child a {
      text-align: right;
      float: right;
    }
  }
}
.mobile-nav {
  a {
    text-transform: uppercase;
    color: #424C55;
    letter-spacing: 1px;
    text-align: left;
    font-weight: 500;
    padding: 10px 20px;
border: 1px solid #424C55;
  }
  a:first-child {
        float: left;
  }
  a:last-child {
    text-align: right;
    float: right;
  }
  a:hover {
    color: #424C55;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .detail-body div {
    padding: 10px 0;
  }
  .detail-nav {
    display: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .detail-body div {
    padding: 10px 0;
  }
}
