.work.wrapper {
  @include prefix(animation-name, fadeInTheMusical, webkit moz ms o);
  @include prefix(animation-duration, 1.2s, webkit moz ms o);
  @include prefix(animation-timing-function, ease-out, webkit moz ms o);
}

.work-wrapper {
  overflow-x: visible !important;
}

.grid {
  list-style: none;
  text-align: center;
  padding-left: 0;
  margin: 25px 0 0 0;
  li {
    display: inline-block;
    width: 48%;
    margin: 0;
    padding: 1%;
    text-align: left;
    position: relative;
    figure {
      margin: 0;
    	position: relative;
      img {
        max-width: 100%;
      	display: block;
      	position: relative;
      }
      figcaption {
        position: absolute;
      	top: 0;
      	left: 0;
      	padding: 20px;
      	background: #FCFAF9;
      	color: $grey;
        height: 100%;
        width: 100%;
        opacity: 0;
        text-align: center;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        h3 {
          margin: 70px 0 0 0;
        	padding: 0;
        	color: $black;
        }
        span {
        	display: block;
        }
        i {
          padding-top: 20px;
          background: transparent;
          color: $grey;
          border: none;
          display: block;
          font-size: 24px;
          animation: bounceLeft 1250ms infinite;
        }
      }
    &:hover, .cs-hover {
      figcaption {
        opacity: 1;
      	-webkit-transform: translate(15px, 15px);
      	-moz-transform: translate(15px, 15px);
      	-ms-transform: translate(15px, 15px);
      	transform: translate(15px, 15px);
        cursor: pointer;
      }
    }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .grid {
    li {
      width: 100%;
      display: block;
          margin: 15px 0;
    }
  }

}
