@keyframes moveFromBottomFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }

@keyframes moveToTopFade {
  from { }
  to {
    opacity: 0.3;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }

@keyframes moveToTop {
  from { }
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }

@keyframes fade {
  from { }
  to {
    opacity: 0.3; } }

@keyframes leftDoor {
  0% { }
  50% {
    right: 100%;
    left: -50%;
    opacity: 0; }
  100% {
    right: 100%;
    left: -50%;
    opacity: 0; } }

@keyframes rightDoor {
  0% { }
  50% {
    left: 100%;
    right: -50%;
    opacity: 0; }
  100% {
    left: 100%;
    right: -50%;
    opacity: 0; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0;
    animation-play-state: paused; } }

@keyframes zoomIn {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1.5); }
  100% {
    transform: scale(1.5); } }

@keyframes scale {
  0% {
    transform: scale(0.7);
    opacity: 0; }
  100% {
    transform: scale(0.9);
    opacity: 1; } }

@keyframes open {
  0% {
    transform: scale(1) skew(0); }
  100% {
    transform: scale(0.05, 1) skew(0, -20deg); } }

@keyframes pop {
  0% {
    transform: rotate(-90deg); }
  65% {
    transform: rotate(-90deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes fadeInTheMusical {
  0% {
    opacity: .2; }
  100% {
    opacity: 1; } }

.contact {
  min-height: 100vh; }
  .contact .header-img {
    text-align: center;
    margin-top: 50px; }

.contact-wrapper {
  padding: 50px 0 0 0; }

.address {
  width: 25%;
  margin: auto;
  text-align: left; }

.contact-icons {
  margin-top: 25px;
  text-align: center; }
  .contact-icons ul {
    list-style: none;
    padding: 0; }
    .contact-icons ul li {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-color: #36DB99;
      border-radius: 50%;
      margin: 0 6px; }
      .contact-icons ul li a {
        font-size: 18px;
        vertical-align: middle;
        text-align: center;
        color: #fff; }
        .contact-icons ul li a i {
          margin-top: 11px; }

.resume {
  text-align: center;
  margin-top: 75px; }
  .resume h3 {
    margin-bottom: 25px; }

.resume-link {
  font-size: 16px;
  border: 1px solid #E54B4B;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 2px; }

.box {
  position: relative;
  background-color: #FFA987;
  width: 200px;
  height: 100px;
  display: inline-block;
  -webkit-border-radius: 10% / 100%;
  -moz-border-radius: 10% / 100%;
  border-radius: 10% / 100%;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius-bottomright: 0;
  -moz-background-clip: padding;
  border-bottom-right-radius: 0;
  background-clip: padding-box;
  margin-top: 100px; }
  .box:after {
    position: absolute;
    content: " ";
    height: 90px;
    width: 40px;
    background-color: #E8997A;
    right: 5px;
    top: 5px;
    -webkit-border-radius: 50% / 100%;
    -moz-border-radius: 50% / 100%;
    border-radius: 50% / 100%;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius-bottomright: 0;
    -moz-background-clip: padding;
    border-bottom-right-radius: 0;
    background-clip: padding-box; }

.rod {
  height: 80px;
  width: 5px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  display: inline-block;
  background-color: #FFEECE;
  transform: rotate(-90deg);
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -o-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center; }
  .rod:after {
    position: absolute;
    content: " ";
    right: 100%;
    top: 2%;
    width: 20px;
    height: 16px;
    background: #36DB99; }
  .rod:before {
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    content: " ";
    width: 15px;
    height: 15px;
    background: #FFEECE;
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }

.transform {
  -webkit-animation: pop 2s linear;
  -moz-animation: pop 2s linear;
  -o-animation: pop 2s linear;
  animation: pop 2s linear;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  animation-fill-mode: forwards; }

.design-process {
  margin-top: 60px;
  margin-left: -15px; }
  .design-process .item {
    background: #fff;
    padding: 50px 0;
    height: 350px;
    margin-bottom: 30px;
    border-radius: 3px;
    box-shadow: 0 0 10px #D4D4D4; }
  .design-process .divider.thin {
    width: 90%;
    height: 2px;
    margin: 11px auto 40px auto; }
  .design-process h2,
  .design-process p {
    width: 88%;
    margin: auto; }
  .design-process h2 {
    padding-bottom: 20px; }
    .design-process h2 img {
      height: 26px;
      vertical-align: top;
      margin-right: 10px;
      margin-top: 5px; }

#landing {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  position: fixed;
  top: 0;
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 2000ms;
  -moz-animation-duration: 2000ms;
  -ms-animation-duration: 2000ms;
  -o-animation-duration: 2000ms;
  animation-duration: 2000ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -ms-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms; }

.landing-wrapper {
  margin-top: 30vh; }

.door-wrapper {
  position: relative;
  width: 250px;
  height: 250px;
  margin: auto;
  text-align: center;
  background-color: #fff;
  -webkit-animation-name: zoomIn;
  -moz-animation-name: zoomIn;
  -ms-animation-name: zoomIn;
  -o-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 2500ms;
  -moz-animation-duration: 2500ms;
  -ms-animation-duration: 2500ms;
  -o-animation-duration: 2500ms;
  animation-duration: 2500ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  transform-origin: center; }
  .door-wrapper img {
    text-align: center;
    width: 80%;
    margin: 40% auto; }

.left-door {
  position: absolute;
  background: #FFE484;
  border: 5px double #4A4A4A;
  bottom: 0;
  right: 50%;
  left: 0;
  top: 0;
  -webkit-animation-name: leftDoor;
  -moz-animation-name: leftDoor;
  -ms-animation-name: leftDoor;
  -o-animation-name: leftDoor;
  animation-name: leftDoor;
  -webkit-animation-duration: 2000ms;
  -moz-animation-duration: 2000ms;
  -ms-animation-duration: 2000ms;
  -o-animation-duration: 2000ms;
  animation-duration: 2000ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -ms-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms; }
  .left-door:after {
    position: absolute;
    content: " ";
    width: 5px;
    height: 15px;
    top: 115px;
    right: 10px;
    background-color: #4A4A4A;
    border-radius: 5px; }

.right-door {
  position: absolute;
  background: #FFE484;
  bottom: 0;
  left: 50%;
  right: 0;
  top: 0;
  border: 5px double #4A4A4A;
  -webkit-animation-name: rightDoor;
  -moz-animation-name: rightDoor;
  -ms-animation-name: rightDoor;
  -o-animation-name: rightDoor;
  animation-name: rightDoor;
  -webkit-animation-duration: 2000ms;
  -moz-animation-duration: 2000ms;
  -ms-animation-duration: 2000ms;
  -o-animation-duration: 2000ms;
  animation-duration: 2000ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -ms-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms; }
  .right-door:after {
    position: absolute;
    content: " ";
    width: 5px;
    height: 15px;
    top: 115px;
    left: 10px;
    background-color: #4A4A4A;
    border-radius: 5px; }

.slide_in {
  overflow: hidden; }

.show {
  visibility: visible;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -ms-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 750ms;
  -moz-animation-delay: 750ms;
  -ms-animation-delay: 750ms;
  -o-animation-delay: 750ms;
  animation-delay: 750ms; }

.scale {
  -webkit-animation-name: zoomIn;
  -moz-animation-name: zoomIn;
  -ms-animation-name: zoomIn;
  -o-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 750ms;
  -moz-animation-duration: 750ms;
  -ms-animation-duration: 750ms;
  -o-animation-duration: 750ms;
  animation-duration: 750ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -ms-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms;
  transform-origin: top; }

.fadeInput {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 2000ms;
  -moz-animation-delay: 2000ms;
  -ms-animation-delay: 2000ms;
  -o-animation-delay: 2000ms;
  animation-delay: 2000ms; }

.room-wrapper {
  text-align: center; }

.profile-wrap {
  margin-top: 25px;
  margin-bottom: 100px; }
  .profile-wrap .polaroid {
    margin-top: 50px; }
    .profile-wrap .polaroid img {
      width: 300px; }
  .profile-wrap .bio {
    margin-top: 25px;
    text-align: center; }
    .profile-wrap .bio img {
      display: block;
      margin: 50px auto 25px;
      height: 150px; }
    .profile-wrap .bio a {
      color: #0F1A20; }

.work.wrapper {
  -webkit-animation-name: fadeInTheMusical;
  -moz-animation-name: fadeInTheMusical;
  -ms-animation-name: fadeInTheMusical;
  -o-animation-name: fadeInTheMusical;
  animation-name: fadeInTheMusical;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  -ms-animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out; }

.work-wrapper {
  overflow-x: visible !important; }

.proj-brief-wrapper {
  margin-top: 75px; }

.proj-wrapper, .static-proj-wrapper {
  margin-bottom: 75px;
  text-align: center; }
  .proj-wrapper img, .static-proj-wrapper img {
    width: 100%; }
  .proj-wrapper h3, .static-proj-wrapper h3 {
    margin: 0; }
  .proj-wrapper .brief-details, .static-proj-wrapper .brief-details {
    text-align: left;
    width: 90%; }

.view-proj {
  background: #fff;
  border: 3px solid #36DB99;
  color: #36DB99;
  padding: 12px 25px 10px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 15px;
  letter-spacing: 1px; }
  .view-proj i {
    margin-left: 10px; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .proj-wrapper {
    text-align: left; }
    .proj-wrapper img {
      width: 100%; }
    .proj-wrapper .brief-details {
      width: 100%;
      text-align: left; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .proj-wrapper {
    text-align: left; }
    .proj-wrapper img {
      width: 100%; }
    .proj-wrapper .brief-details {
      width: 100%;
      text-align: left; } }

.work.wrapper {
  transform-origin: 50% 20%;
  background: #fff; }

.detail-brief-wrapper {
  text-align: center;
  margin-top: 50px; }
  .detail-brief-wrapper .detail-brief .detail-brief-img {
    margin-top: 40px;
    margin-bottom: 40px; }
    .detail-brief-wrapper .detail-brief .detail-brief-img img {
      width: 100%; }

.detail-nav {
  margin: 50px 0; }
  .detail-nav ul {
    list-style: none;
    text-align: center;
    padding: 0; }
    .detail-nav ul li:last-child {
      border-right: none; }
    .detail-nav ul li {
      display: inline-block;
      border-right: 1px solid #eee;
      padding: 0 50px; }
      .detail-nav ul li img {
        height: 25px;
        display: block;
        margin: 10px auto;
        opacity: 0.7; }
      .detail-nav ul li h4 {
        color: #817F75;
        opacity: 0.7;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 14px;
        margin-top: 15px;
        letter-spacing: 0.5px; }
      .detail-nav ul li a:hover {
        text-decoration: none; }
        .detail-nav ul li a:hover img,
        .detail-nav ul li a:hover h4 {
          opacity: 1; }

.detail-body {
  margin: 75px auto; }
  .detail-body div {
    padding: 40px 0 0; }
    .detail-body div .divider {
      padding: 0;
      margin-bottom: 25px; }
    .detail-body div h2 {
      color: #36DB99;
      font-weight: 700;
      margin-bottom: 30px; }
    .detail-body div img {
      padding: 0;
      box-shadow: 0 0 10px #D4D4D4;
      text-align: center;
      display: block;
      margin-top: 50px;
      margin-bottom: 50px;
      max-width: 100%; }
    .detail-body div p {
      padding-left: 0;
      margin-top: -20px; }
    .detail-body div b {
      font-size: 1.1em; }
  .detail-body div:first-child {
    padding-top: 0; }
  .detail-body div:last-child {
    padding-bottom: 0;
    margin-bottom: 0; }

.mobile-nav a {
  text-transform: uppercase;
  color: #424C55;
  letter-spacing: 1px;
  text-align: left;
  font-weight: 500;
  padding: 10px 20px;
  border: 1px solid #424C55; }

.mobile-nav a:first-child {
  float: left; }

.mobile-nav a:last-child {
  text-align: right;
  float: right; }

.mobile-nav a:hover {
  color: #424C55; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .detail-body div {
    padding: 10px 0; }
  .detail-nav {
    display: none; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .detail-body div {
    padding: 10px 0; } }

.skills {
  height: 100vh; }

.skills-list {
  margin-top: 60px;
  margin-left: -15px; }
  .skills-list .item {
    background: #fff;
    padding: 50px 0;
    height: 300px;
    margin-bottom: 30px;
    border-radius: 3px;
    box-shadow: 0 0 10px #D4D4D4; }
  .skills-list .divider.thin {
    width: 90%;
    height: 2px;
    margin: 11px auto 40px auto; }
  .skills-list h2,
  .skills-list p {
    width: 88%;
    margin: auto; }
  .skills-list h2 {
    padding-bottom: 20px; }
    .skills-list h2 img {
      height: 26px;
      vertical-align: top;
      margin-right: 10px;
      margin-top: 5px; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'lato', sans-serif;
  color: #232626;
  font-weight: 400; }

h1,
.h1 {
  font-size: 44px;
  font-weight: 700; }

h2,
.h2 {
  font-size: 32px;
  font-weight: 700; }

h3,
.h3 {
  font-size: 22px;
  line-height: 33px; }

h4,
.h4 {
  font-size: 18px; }

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  background-color: transparent;
  transition: background 1s ease;
  font-family: 'lato', sans-serif; }

p {
  font-size: 18px;
  color: #343A39;
  font-family: 'lato', sans-serif; }

a,
a:hover,
a:focus,
a:visited {
  color: #36DB99;
  font-weight: 500;
  text-decoration: none; }

b {
  color: #293132;
  font-weight: 500; }

a,
button {
  cursor: pointer; }

.navbar-default {
  background-color: #fff; }
  .navbar-default .navbar-brand {
    color: #232626;
    font-weight: 700;
    margin-left: 35px !important; }

.navbar {
  margin-bottom: 0;
  border: none; }

.navbar-scroll {
  display: none; }

.navbar-back {
  background: none;
  border: none;
  display: block; }
  .navbar-back img {
    height: 30px;
    margin-left: -100px; }

.navbar-default .navbar-toggle {
  border: none; }

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background: #fff; }

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-text {
  color: #0F1A20;
  font-weight: 700;
  border: none;
  font-size: 16px;
  width: auto; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  font-weight: 700;
  background: inherit;
  color: #36DB99; }

.navbar-nav {
  float: right;
  margin-right: 35px; }

.content-container {
  transform: scale(0.9);
  transform-origin: top; }

.wrapper {
  padding: 50px 0;
  position: relative; }

.header-img {
  text-align: center; }
  .header-img img {
    max-width: 75%; }

.home {
  min-height: 100vh; }

.arrow {
  margin: 150px 0; }

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-25px); }
  60% {
    transform: translateY(-10px); } }

.intro-text {
  padding: 150px 0 0 0; }
  .intro-text h1 {
    margin-top: 0;
    font-size: 44px; }
  .intro-text h3 {
    line-height: 33px; }
  .intro-text .contact-icons {
    text-align: left; }
    .intro-text .contact-icons ul li {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      margin: 0 5px;
      text-align: center; }
    .intro-text .contact-icons li:first-child {
      margin-left: 0; }
    .intro-text .contact-icons a {
      font-size: 12px; }

.divider {
  width: 75px;
  height: 6px;
  margin: 30px 0 25px 0;
  background: #30DB8B;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #70F4B7, #30DB8B);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #70F4B7, #30DB8B);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #70F4B7, #30DB8B);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #70F4B7, #30DB8B);
  /* Standard syntax */ }

* {
  box-sizing: border-box; }

@media (min-width: 320px) and (max-width: 768px) {
  .design-process .item {
    height: 500px; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .navbar-default .navbar-brand {
    margin-left: 0 !important; }
  .design-process .item {
    height: 500px; } }
