@import 'animations';
@import 'contact';
@import 'desk';
@import 'landing';
@import 'room';
@import 'work';
@import 'work-detail';

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "proxima-nova", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
p {
  font-size: 16px;
}
a {
  color: #FF9B71;
}
a,
button {
  cursor: pointer;
}
.wf-loading {
  body {
    display: none;
  }
}
.wf-active {
  body {
    display: inline;
  }
}
.navbar-default {
  background-color: #fff;
}
.navbar {
  margin-bottom: 0
}
.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: #fff;
}
.wrapper {
  margin-top: 50px;
  @include prefix(animation-name, scale, webkit moz ms o);
  @include prefix(animation-duration, 1000ms, webkit moz ms o);
  @include prefix(animation-fill-mode, forwards, webkit moz ms o);
  transform-origin: center;
}
.header-img {
  text-align: center;
}
