$primary: rgba(54, 219, 153, 1);
$black: rgba(6, 19, 20, 1);
$grey: rgba(52, 56, 55, 1);

@import 'animations';
@import 'contact';
@import 'process';
@import 'tools';
@import 'work';
@import 'work-detail';

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'lato', sans-serif;
  color: #232626;
  font-weight: 400;
}
h1,
.h1 {
  font-size: 38px;
  font-weight: 700;
}
h2,
.h2 {
  font-size: 32px;
  font-weight: 700;
}
h3,
.h3 {
  font-size: 20px;
  line-height: 30px;
}
h4,
.h4 {
  font-size: 18px;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  background-color: transparent;
  transition: background 1s ease;
  font-family: 'lato', sans-serif;
}
p {
  font-size: 18px;
  color: #343A39;
  font-family: 'lato', sans-serif;
}
a,
a:hover,
a:focus,
a:visited {
  color: #36DB99;
  font-weight: 500;
  text-decoration: none;
}
b {
  color: #293132;
  font-weight: 500;
}
a,
button {
  cursor: pointer;
}
.navbar-default {
  background-color: #fff;
  .navbar-brand {
    color: #232626;
    font-weight: 700;
    margin-left: 35px !important;
  }
}
.navbar {
  margin-bottom: 0;
  border: none;
}
.navbar-scroll {
  display: none;
}
.navbar-back {
  background: none;
  border: none;
  display: block;
  img {
    height: 30px;
    margin-left: -100px;
  }
}
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background: #fff;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-text {
  color: #0F1A20;
  font-weight: 700;
  border: none;
  font-size: 16px;
  width: auto;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  font-weight: 700;
  background: inherit;
  color: #36DB99;
}
.navbar-nav {
  float: right;
  margin-right: 35px;
}
.wrapper {
  padding: 50px 0;
  position: relative;
}
.header-img {
  text-align: center;
  img {
    max-width: 75%;
  }
}
.home {
  min-height: 100vh;
}
.arrow {
  margin: 150px 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(-10px);
  }
}
.intro-text {
  padding: 150px 0 0 0;
  h1 {
    margin-top: 0;
    font-size: 44px;
  }
  h3 {
    line-height: 33px;
  }
  .contact-icons {
    text-align: left;
    ul li {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      margin: 0 5px;
      text-align: center;
    }
    li:first-child {
      margin-left: 0;
    }
    a {
      font-size: 12px;
    }
  }
}
.divider {
  width: 75px;
  height: 6px;
  margin: 30px 0 25px 0;
  background: #30DB8B; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #70F4B7, #30DB8B); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #70F4B7, #30DB8B); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #70F4B7, #30DB8B); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #70F4B7, #30DB8B); /* Standard syntax */
}
* {
  box-sizing: border-box;
}

@media (min-width: 320px) and (max-width: 768px) {
  .design-process .item {
    height: 500px;
  }
  .footer {
    padding-bottom: 75px;
    border-top: none;
    padding-top: 10px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .footer {
    padding-bottom: 75px;
    border-top: none;
    padding-top: 20px;
  }
  .navbar-default {
    .navbar-brand {
      margin-left: 0 !important;
    }
  }
  .design-process .item {
    height: 500px;
  }
}
