@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes zoomIn {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.5); } }

@keyframes scale {
  0% {
    transform: scale(0.7);
    opacity: 0; }
  100% {
    transform: scale(0.9);
    opacity: 1; } }

@keyframes open {
  0% {
    transform: scale(1) skew(0);
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(0.05, 1) skew(0, -20deg);
    opacity: 0; } }

@keyframes pop {
  0% {
    transform: rotate(-90deg); }
  65% {
    transform: rotate(-90deg); }
  100% {
    transform: rotate(0deg); } }

.address {
  width: 25%;
  margin: auto;
  text-align: left; }

.contact-icons {
  margin-top: 50px;
  text-align: center; }
  .contact-icons ul {
    list-style: none;
    padding: 0; }
    .contact-icons ul li {
      display: inline-block;
      width: 30px;
      height: 30px;
      background-color: #FF9B71;
      border-radius: 50%;
      margin: 0 6px; }
      .contact-icons ul li a {
        font-size: 14px;
        vertical-align: middle;
        text-align: center;
        color: #fff; }
        .contact-icons ul li a i {
          margin-top: 8px; }

.box {
  position: relative;
  background-color: #7FD8BE;
  width: 200px;
  height: 100px;
  display: inline-block;
  -webkit-border-radius: 10% / 100%;
  -moz-border-radius: 10% / 100%;
  border-radius: 10% / 100%;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius-bottomright: 0;
  -moz-background-clip: padding;
  border-bottom-right-radius: 0;
  background-clip: padding-box;
  margin-top: 100px; }
  .box:after {
    position: absolute;
    content: " ";
    height: 90px;
    width: 40px;
    background-color: #38b993;
    right: 5px;
    top: 5px;
    -webkit-border-radius: 50% / 100%;
    -moz-border-radius: 50% / 100%;
    border-radius: 50% / 100%;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius-bottomright: 0;
    -moz-background-clip: padding;
    border-bottom-right-radius: 0;
    background-clip: padding-box; }

.rod {
  height: 80px;
  width: 5px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  display: inline-block;
  background-color: #E7E5E5;
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -o-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
  -webkit-animation: pop 2s linear;
  -moz-animation: pop 2s linear;
  -o-animation: pop 2s linear;
  animation: pop 2s linear;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .rod:after {
    position: absolute;
    content: " ";
    right: 100%;
    top: 2%;
    width: 20px;
    height: 16px;
    background: #FF9B71; }
  .rod:before {
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    content: " ";
    width: 15px;
    height: 15px;
    background: #E7E5E5;
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }

.design-process {
  margin: 0 auto 100px;
  font-size: 16px;
  text-align: center; }
  .design-process img {
    display: block;
    margin: 100px auto 25px;
    height: 100px; }
  .design-process img:first-child {
    margin: 75px auto 25px; }

.landing-wrapper {
  margin-top: 20vh;
  text-align: center; }

.door-wrapper {
  width: 150px;
  margin: 0 auto 25px; }
  .door-wrapper img {
    max-width: 100%; }

.landing-text {
  display: inline-block;
  font-size: 26px;
  font-family: "proxima-nova", sans-serif;
  margin: 20px auto 30px; }

.name-input {
  opacity: 0;
  margin: auto;
  width: 50%;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -ms-animation-duration: 4s;
  -o-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  border-width: 0 0 2px 0;
  font-size: 22px;
  line-height: 30px;
  text-align: center; }
  .name-input a {
    text-decoration: none;
    margin: 0 5px; }

.name-input:focus {
  border-width: 0 0 2px 0;
  border-color: #E84855;
  outline: none; }

.name-sbmt {
  color: #fff;
  background-color: #E84855;
  margin-left: 5px;
  padding: 7px 10px;
  border-radius: 2px;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -ms-animation-duration: 4s;
  -o-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.name-sbmt:hover {
  text-decoration: none;
  color: #fff; }

.animatedDoor {
  transform-origin: 0 50%;
  -webkit-animation-name: open;
  -moz-animation-name: open;
  -ms-animation-name: open;
  -o-animation-name: open;
  animation-name: open;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

.scale {
  -webkit-animation-name: zoomIn;
  -moz-animation-name: zoomIn;
  -ms-animation-name: zoomIn;
  -o-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 750ms;
  -moz-animation-duration: 750ms;
  -ms-animation-duration: 750ms;
  -o-animation-duration: 750ms;
  animation-duration: 750ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -ms-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms; }

.fade {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.room-wrapper {
  text-align: center; }

.profile-wrap {
  margin-top: 25px;
  margin-bottom: 100px; }
  .profile-wrap .polaroid {
    margin-top: 50px; }
    .profile-wrap .polaroid img {
      width: 300px;
      box-shadow: 0 0 5px #aaa;
      border-radius: 5px; }
  .profile-wrap .bio {
    margin-top: 25px;
    text-align: center; }

.header-img img {
  max-width: 100%; }

.work-wrapper {
  padding-top: 100px; }

.intro-text {
  margin: 50px auto 0;
  text-align: center; }
  .intro-text p {
    font-size: 18px; }

.proj-wrapper {
  margin-top: 75px;
  margin-bottom: 75px; }
  .proj-wrapper img {
    max-width: 345px;
    width: 100%; }
  .proj-wrapper h3 {
    font-size: 32px;
    font-weight: lighter;
    margin: 0; }
  .proj-wrapper h4 {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 10px 0;
    font-size: 14px; }
  .proj-wrapper .brief-details {
    margin-top: 16%; }

.view-proj {
  background: #7FD8BE;
  border: none;
  color: #fff;
  padding: 12px 25px 10px 25px;
  margin-top: 8px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase; }

.coming-soon {
  text-align: center;
  margin-top: 50px; }
  .coming-soon img {
    width: 100%; }
  .coming-soon h3 {
    font-size: 32px;
    font-weight: lighter;
    margin: 0 auto 25px; }

.active {
  display: block; }

.inactive {
  display: none; }

.detail-brief-wrapper {
  text-align: center;
  margin-top: 50px; }
  .detail-brief-wrapper .detail-brief .detail-brief-img {
    margin-top: 40px;
    margin-bottom: 40px; }
    .detail-brief-wrapper .detail-brief .detail-brief-img img {
      width: 100%; }
  .detail-brief-wrapper .detail-brief .detail-brief-text {
    color: #4A4A4A; }
    .detail-brief-wrapper .detail-brief .detail-brief-text h3 {
      font-size: 35px;
      font-weight: lighter;
      margin: 0; }
    .detail-brief-wrapper .detail-brief .detail-brief-text h4 {
      font-weight: lighter;
      letter-spacing: 1px;
      margin: 10px 0; }

.detail-nav {
  margin: 50px 0; }
  .detail-nav ul {
    list-style: none;
    text-align: center;
    padding: 0; }
    .detail-nav ul li:last-child {
      border-right: none; }
    .detail-nav ul li {
      display: inline-block;
      border-right: 1px solid #eee;
      padding: 0 50px; }
      .detail-nav ul li img {
        height: 25px;
        display: block;
        margin: 10px auto;
        opacity: 0.7; }
      .detail-nav ul li h4 {
        color: #817F75;
        opacity: 0.7;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 14px;
        margin-top: 15px; }
      .detail-nav ul li a:hover {
        text-decoration: none; }
        .detail-nav ul li a:hover img,
        .detail-nav ul li a:hover h4 {
          opacity: 1; }

.detail-body {
  margin: 75px auto 0; }
  .detail-body div {
    padding: 75px 0 20px 25px; }
    .detail-body div h2 {
      color: #3F7CAC;
      font-weight: 400;
      margin-bottom: 30px; }
    .detail-body div img {
      padding: 0;
      box-shadow: 0 0 10px #D4D4D4;
      text-align: center;
      display: block;
      margin-bottom: 50px; }
    .detail-body div p {
      font-size: 16px; }
    .detail-body div b {
      color: #000; }
  .detail-body div:first-child {
    padding-top: 0; }

.work-nav {
  background-color: #7FD8BE;
  padding: 20px 0 15px;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1000ms;
  -moz-animation-duration: 1000ms;
  -ms-animation-duration: 1000ms;
  -o-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
  .work-nav a {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px; }
  .work-nav a:hover {
    text-decoration: none;
    cursor: pointer; }
  .work-nav a:last-child {
    text-align: right;
    float: right; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "proxima-nova", sans-serif; }

body {
  margin: 0;
  padding: 0; }

p {
  font-size: 16px; }

a {
  color: #FF9B71; }

a,
button {
  cursor: pointer; }

.wf-loading body {
  display: none; }

.wf-active body {
  display: inline; }

.navbar-default {
  background-color: #fff; }

.navbar {
  margin-bottom: 0; }

.navbar-default .navbar-toggle {
  border: none; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: #fff; }

.wrapper {
  margin-top: 50px;
  -webkit-animation-name: scale;
  -moz-animation-name: scale;
  -ms-animation-name: scale;
  -o-animation-name: scale;
  animation-name: scale;
  -webkit-animation-duration: 1000ms;
  -moz-animation-duration: 1000ms;
  -ms-animation-duration: 1000ms;
  -o-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  transform-origin: center; }

.header-img {
  text-align: center; }
