@font-face {
  font-family: ProximaNova;
  src: url('fonts/ProximaNova-Regular.otf');
}
@font-face {
  font-family: ProximaNova;
  font-weight: lighter;
  src: url('fonts/ProximaNova-Light.otf');
}
@font-face {
  font-family: ProximaNova;
  font-weight: bold;
  src: url('fonts/ProximaNova-Semibold.otf');
}
@font-face {
  font-family: ProximaNova;
  font-weight: bolder;
  src: url('fonts/ProximaNova-Bold.otf');
}

$red: rgba(239, 111, 108, 1);
$orange: rgba(255, 155, 113, 1);
$teal: rgba(91, 216, 179, 1);
$blue: rgba(34, 116, 165, 1);
$brown: rgba(91, 75, 73, 1);

@import 'animations';
@import 'contact';
@import 'desk';
@import 'landing';
@import 'room';
@import 'work';
@import 'work-detail';
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "proxima-nova", sans-serif;
  font-weight: lighter;
  color: #fff;
}
h4, .h4 {
  color: #fff;
}
body {
  margin: 0;
  padding: 0;
}
p {
  font-size: 16px;
  color: #fff;
}
a {
  color: $teal;
  font-weight: 500;
}
a:hover {
  color: $teal;
  text-decoration: none;
  font-weight: 500;
}
b {
  color: #293132;
  font-weight: 500;
}
a,
button {
  cursor: pointer;
}
.wf-loading {
  body {
    display: none;
  }
}
.wf-active {
  body {
    display: inline;
  }
}
[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.navbar-default {
  background-color: #fff;
  a:hover {
    font-weight: 300;
  }
}
.navbar-brand img {
      height: 20px;
}
.navbar {
  margin-bottom: 0;
}
.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background: #fff;
}
.wrapper {
  @include prefix(animation-name, fadeIn, webkit moz ms o);
  @include prefix(animation-duration, 1000ms, webkit moz ms o);
  @include prefix(animation-fill-mode, forwards, webkit moz ms o);
  padding-top: 100px;
}
.work-wrapper {
  @include prefix(animation-name, scale, webkit moz ms o);
  @include prefix(animation-duration, 1000ms, webkit moz ms o);
  @include prefix(animation-fill-mode, forwards, webkit moz ms o);
  transform-origin: center 45%;
  padding-top: 0;
}
.header-img {
  text-align: center;
  img {
    max-width: 70%;
  }
}
.intro-text {
  margin: 50px auto 0;
  text-align: center;
  p {
    font-size: 18px;
  }
}
